*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}  

 /*Header Section  */

header{
    width: 100%;
    background-color: rgba(23,23,23,0.15);
    padding: 20px;
    position: absolute;
    top: 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
}
header a{
    text-decoration: none;
    margin-right: 100px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgba(10, 10, 10, 0.966);
}
/* Header End */

/* Content */
.banner-container{
    /* margin-top: 100px; */
    display: flex;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(4, 87, 129, 0.568), rgb(76, 141, 167)),url(./Photos/flower_3.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
}

/* Content End */

/* Left Section */

.banner-container .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.left_section{
    width: 60%;
    align-self:flex-start;
}
.left_section h1{
    margin: 0;
    color: seashell;
    font-size: 40px;

}
.left_section p{
    margin: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgba(255, 254, 246,0.884);
    margin-top: 20px;
    line-height: 28px;

}
.left_section button{
    color: #2098ca;
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}
/* Left Section End */

/* Right Section */

.right_section{
    margin: 150px;
    width: 400px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.219);
    background-color: white; 
    border-radius: 15px;
    padding: 40px 0;
}

.right_section h4{
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgba(0, 63, 95, 0.979);
}

.input_group{
    width: 300px;
    margin:30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.input_group label{
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top: 10px;
    transition: 0.6s ease-in-out;
}
.input_group input{
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    color: royalblue;
    border-bottom: 1px solid #3221ca;
}
.input_group input:focus ~ label,
.input_group input:valid ~ label
{
    color: royalblue;
    top: -10px;
    font-size: 11px;
}
.input_group input:focus,
.input_group input:valid
{
    border-color: royalblue;
}
.submit_section{
    text-align: center;
}
.submit_button{
    background-color: royalblue;
    color: white;
    border: none;
    padding: 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 200px;
    height: 5vh;
    cursor: pointer;

}
.submit_button:hover{
    box-shadow: 0 3px 6px black;
}
/* Rught Section End */


/* Section 2 */


.section_2{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card_container{
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px rgb(49, 42, 42);
    overflow: hidden;
    text-align: center;
}
.card_container h1{
    color: rgb(136, 136, 136);
}
.image_container{
    width: 400px;
    height: 350px;
    overflow: hidden;
}
.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.image_container img:hover{
    transform: scale(1.1) rotate(-5deg);
}

/* Footer */

footer{
    text-align: center;
    color: rgb(129, 133, 146);
    padding: 15px;
}
footer span{
    color: #3221ca;
}